/* Reset پایه */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #9ac3ce;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px 0;
}

/* Header */
header {
    background-color: #001aff;
    color: white;
    text-align: center;
    padding: 60px 0;
    border-radius: 40px;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

/* Navigation */
nav {
    background-color: #333131;
}

nav .container {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

/* پروژه‌ها */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
    border-width: 10px;
    border-color: black;
}

.project {
    background-color: rgb(0, 224, 240);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.project h3 {
    margin-bottom: 10px;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #1e90ff;
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}

/* رزومه و تماس */
section h2 {
    margin-bottom: 15px;
    color: #1e90ff;
}

/* Footer */
footer {
    background-color: #333;
    color: rgb(0, 247, 255);
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}